
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    height: 100% ;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: transparent;
   backdrop-filter: blur 4px;
    backface-visibility: hidden;
    width: 550px;
    height: 100%;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    box-shadow: 16px 15px 35px rgba(227, 240, 232, 0.61),
                  -16px -16px 22px rgba(245, 222, 179, 0.623);
   }
  .card h3 {
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 25%;
    color: wheat;
    letter-spacing: 2px;
  }
  .card:hover{
    cursor: pointer;
    border-radius: 31px 
     31px;
     transition: all 0.5s ease-in-out;
     transition-delay: 0.2s;
     transform: matrix(5);
  }
  .line {
    width: 100px;
    height: 3px;
    background: rgba(255, 254, 254, 0.61);
  }
  
  .inputBox {
    position: relative;
    width: 250px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: wheat;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid wheat;
    transition: 0.1s;
    border-bottom: 2px solid wheat;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
  
    color: wheat;
    text-transform: uppercase;
    transition: 250ms;
    letter-spacing: 3px;
  }
  
  /*
     A tilde = ~ ------> On mac = option + n
    */
  
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: wheat;
    letter-spacing: 0.2em;
    color: rgb(12, 12, 12);
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid wheat;
  }
  
  
  #submit-1:hover {
    background-color: black;
    color: #faf6f6;
    transition: 0.5s ease;
    border: 2px solid seashell;
  }
  #submit-1{
    text-decoration: none;
   margin: 20px;
   border-radius: 6px;
   border: 2px solid transparent;
   cursor: pointer;
   padding: 10px;
   color: wheat;
   background-color: transparent;
   transition: 0.8s;
   text-transform: uppercase;
   font-size: 10px;
   letter-spacing: 3px;
  }
  .container p{
    color: wheat;
    margin-bottom: 15px;
  }
  .container a{
    color: wheat;
    text-decoration: none;
    margin-bottom: 15px;
  }